<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% if item['mediumImageUrls'].first['imageUrl'].blank? %>
              <%= image_tag("no-image.png" , alt: item['itemName']) %>
            <% else %>
              <%= image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') , alt: item['itemName']) %>
            <% end %>
            
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% #TODO 商品タイトル %>
            <%= item['itemName'] %>
          </p>
        </div>
        <div class="action clearfix">
          <% #binding.pry  %>
          <% if(current_user.want?(item)) %>
          <% @itemId = Item.find_by(item_code: item["itemCode"]).id %>
          <%= link_to "" , ownership_path(current_user.wants.find_by(:item_id => @itemId) , item_id: @itemId , type: "Want") ,
                        :class => "want-#{@itemId} btn-want btn btn-danger btn-sm want_it",
                        :remote => true,
                        :method => :delete %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
                        :class => "btn-want btn btn-danger btn-sm want",
                        :item_code => "want-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
          <% end %>
          
          <% if(current_user.have?(item)) %>   
          <%= link_to "" , ownership_path( current_user.haves.find_by(:item_id => @itemId) , item_id: @itemId , type: "Have") ,
                      :class => "have-#{@itemId} btn-have btn btn-warning btn-sm have_it",
                      :remote => true,
                      :method => :delete %> 
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                        :class => "btn-have btn btn-warning btn-sm have",
                        :item_code => "have-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
