<% @item = Item.find_by(id: params["id"]) %>
<% content_for :title do %><%= "#{@item.title}-monolist" %><% end %>
<% content_for :description do %><%= "このページは#{@item.title}のページです" %><% end %>
<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% #binding.pry %>
        
          <% if(@item.large_image!=nil) %>
            <%= image_tag(@item.large_image , alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          
          <% for i in 0..@item.have_users.length-1 %>
            <%= link_to gravatar_for(@item.have_users[i], size: 50), @item.have_users[i] %>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% for i in 0..@item.want_users.length-1 %>
            <%= link_to gravatar_for(@item.want_users[i], size: 50), @item.want_users[i] %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to('楽天詳細ページへ', @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
